.table1{
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
.table1 th, .table1 td{
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
.table1 tr:nth-child(even) {
  background-color: #dddddd;
}
.table2{
  width: 100%;
}
.table2 th, .table2 td{
  border: 1px solid brown;
  border-collapse: collapse;
  text-align: left;
}