* { box-sizing: border-box;}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
}
.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}
.header a.logo{
  font-size: 25px;
  font-weight: bold;
}
.header a:hover{
  background-color: aqua;
  color: black;
}
.header nav> ul {
  display: flex;
  float: right;
}
.header nav li{
  list-style: none;
}
.header nav li:hover {
  display: block;
  background-color: lightgray;
  cursor: pointer;
}
.header nav li a{
  text-decoration: none;
  color: black;
}
.table1{
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
.table1 th, .table1 td{
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
.table1 tr:nth-child(even) {
  background-color: #dddddd;
}
.table2{
  width: 100%;
}
.table2 th, .table2 td{
  border: 1px solid brown;
  border-collapse: collapse;
  text-align: left;
}
.btn-group button {
  background-color: #04AA6D;
  border: 1px solid green;
  padding: 10px 24px;
  cursor: pointer;
  float: left;
  
}
/* Clear floats (clearfix hack) */
.btn-group::after {
  content: "";
  clear: both;
  display: table;
}
.btn-group button:not(:last-child) {
  border-right: none;
}
/* Add a background color on hover */
.btn-group button:hover{
  background-color: #3e8e41;
}